* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;


}
body {

background-color: rgb(255, 189, 189);
display: flex;
align-items: center;
justify-content: center;
padding: 3em;


}

#calc {

width: 450px;
padding: 0.5em;
background-color: gray;
color: black;
display:flex;
flex-direction: column;

}
#calc h3 {

    font-size: 1em;
    font-weight: 300;
    color: #000000;
}

#operations {
    text-align: right;
}
#previous-operation {
    color: #000000;
    padding: 0.2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
}
#current-operation {
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: .2em;
overflow-wrap:break-word
}
#buttons-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 3px;
}
#buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height:4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}
#buttons-container .number {
    background-color: white;
}
#buttons-container button:hover {
    background-color:aqua;
    border-color: blue;
}
#buttons-container #equal-btn {
grid-column: span 2;
background-color: rgb(124, 203, 255);
}
#buttons-container #equal-btn:hover {
    background-color: rgb(150, 59, 255);
    }